body {
    background-color: rgb(218, 214, 214);
    padding: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

#charTable td{
    padding: 10px;
}

tr {
    
    border: 1px solid black;
}

#charTable tr:nth-child(even){
    background-color: #9c9c9c;
}

thead th {
    color: rgb(255, 255, 255);
    background-color: rgb(19, 193, 236);   
}

#charTable tr:hover {
    background-color: rgb(255, 255, 255);
}



